@import "tailwindcss";

@theme {
  --color-background: #f0f0f0;
  --color-primary: #1c1917;
  --color-secondary: #163bc0;
  --color-secondaryHover: #102a79;
  --color-inputBackground: #cacaca;
  --color-borderColor: #4a5565;
}

.dark {
  --color-background: #131313;
  --color-primary: white;
  --color-secondary: #163bc0;
  --color-secondaryHover: #102a79;
  --color-inputBackground: #1a1a1a;
  --color-borderColor: #4a5565;
}

body {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
#root {
  background-color: var(--color-background);
  /* background-color: #cacaca; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.363);
  border-radius: 100px;
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
