@import "tailwindcss";

@theme {
  --color-secondary: #163bc0;
  --color-secondaryHover: #102a79;

  --color-bg-dark: oklch(0.92 0 240);
  --color-bg: oklch(0.96 0 240);
  --color-bg-light: oklch(1 0 240);
  --color-text: oklch(0.15 0 240);
  --color-border: oklch(0.6 0 240);
  --color-messageSelf: #163bc0;
  --color-messageReceived: #163bc0;
}

.dark {
  --color-secondary: #163bc0;
  --color-secondaryHover: #102a79;

  --color-bg-dark: oklch(0.1 0 240);
  --color-bg: oklch(0.15 0 240);
  --color-bg-light: oklch(0.2 0 240);
  --color-text: oklch(0.96 0 240);
  --color-border: oklch(0.4 0 240);
  --color-messageSelf: #163bc0;
  --color-messageReceived: #081544;
  
}

body {
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
  --customToggleHeight: 30px;
}
#root {
  background-color: var(--color-bg-dark);
  /* background-color: #cacaca; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.663);
  border-radius: 100px;
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
.thinTrack::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.customToggle {
  position: relative;
  height: 10px;
  width: 60px;
}
.customToggle::before {
  content: "";
  position: absolute;
  transform: translateY(-25%);
  height: var(--customToggleHeight);
  width: calc(var(--customToggleHeight) * 2);
  border-radius: var(--customToggleHeight);
  background-color: grey;
  transition: all 0.4s;
}
.customToggle:checked::before {
  background-color: rgb(76, 179, 240);
}
.customToggle::after {
  content: "";
  transform: translateY(-27%);
  position: absolute;
  height: calc(var(--customToggleHeight) * 0.85);
  width: calc(var(--customToggleHeight) * 0.85);
  left: calc(var(--customToggleHeight) * 0.0725);
  top: calc(var(--customToggleHeight) * 0.0725);
  border-radius: var(--customToggleHeight);
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.customToggle:checked::after {
  transform: translateX(calc(var(--customToggleHeight) * 0.975))
    translateY(-27%);
}

.checkBlue:has(input:checked) {
  background-color: var(--color-bg-light);
}

.customBorder {
  position: relative;
}
.customBorder::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  background-color: var(--color-secondary);
  height: 3px;
  top: 0;
  right: 0;
}
